{% extends '_base.html' %}
{% block content %}

    <h1>Welcome</h1>
    <a href="/logout">Logout</a>
    <div class="add-task">
        <h3> Add a new task:</h3>
        <table>
            <tr>
                <form action="{{ url_for('new_task') }}" method="post">
                    {{ form.csrf_token }}
                    <td>
                        {{ form.name.label }}: {{ form.name }}<br>
                        <span class="error"> {% for error in form.name.errors %} {{ error }} {% endfor %} </span>
                    </td>
                    <td>
                        {{ form.due_date.label }}: {{ form.due_date(value="08/11/2022") }}<br>
                        <span class="error"> {% for error in form.due_date.errors %} {{ error }} {% endfor %} </span>
                    </td>
                    <td>
                        {{ form.priority.label }}: {{ form.priority }}
                        <span class="error"> {% for error in form.priority.errors %} {{ error }} {% endfor %} </span>
                    </td>
                    <td>
                        &nbsp;
                        &nbsp;
                        <input class="btn btn-default" type="submit" value="Submit"></p>
                    </td>
                </form>
            </tr>
        <table>
    </div>
    <div class="entries">
        <br>
        <br>
        <h2>Open tasks: </h2>
        <div class="datagrid">
            <table>
                <thead>
                    <tr>
                        <th width="300px"><strong>Task:</strong></th>
                        <th width="100px"><strong>Posted On:</strong></th>
                        <th width="100px"><strong>Due Date:</strong></th>
                        <th width="50px"><strong>Priority:</strong></th>
                        <th><strong>Actions:</strong></th>
                    </tr>
                </thead>
                {% for task in open_tasks %}
                
                    <tr>
                        <td width="300px">{{ task.name }}</td>
                        <td>{{ task.posted_date }}</td>
                        <td width="100px">{{ task.due_date }}</td>
                        <td width="50px">{{ task.priority }}</td>
                        {% if task.user_id==session.user_id or session.user_role=="admin" %}

                        <td><a href="{{ url_for("delete_entry",task_id = task.task_id) }}">Delete</a> | </td>
                        <td><a href="{{ url_for("complete",task_id = task.task_id) }}">Mark as complete</a></td>
                        
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <br>
    </div>

    <div class="entries">
        <br>
        <br>
        <h2>Closed tasks: </h2>
        <div class="datagrid">
            <table>
                <thead>
                    <tr>
                        <th width="300px"><strong>Task Name</strong></th>
                        <th width="100px"><strong>Due Date</strong></th>
                        <th width="50px"><strong>Priority</strong></th>
                        <th><strong>Actions</strong></th>
                    </tr>
                </thead>
                {% for task in closed_tasks %}
                
                    <tr>
                        <td width="300px">{{ task.name }}</td>
                        <td width="100px">{{ task.due_date }}</td>
                        <td width="50px">{{ task.priority }}</td>
                        {% if task.user_id==session.user_id or session.user_role=="admin" %}

                        <td><a href="{{ url_for("delete_entry",task_id = task.task_id) }}">Delete</a></td>

                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <br>
    </div>
{% endblock content %}

